extends layout

block body
  section#fatHeaderContainer
    != page.html

    footer
      a(href=page.metadata.storelink)
        img.separator(src='/img/App_Store_Badge_EN_0609.png')
      a(href='https://mixpanel.com/f/partner')
        img.separator(src='http://cdn.mxpnl.com/site_media/images/partner/badge_light.png', alt='Mobile Analytics')
      a(href='/')
        img.separator(src='/img/separator.png')
