/*
 *	General
 */
html {
    background: #ffffff url(../img/background.png);
}

body {
  	font-family: "ff-enzo-web",sans-serif;
    text-transform: uppercase;
		font-size: 18px;
		line-height: 1.6em;
    background: url(../img/background_repeat.png) repeat-x;
    border-top: 12px solid #ffffff;
		color: #3a312a;
		text-shadow: #ffffff 0px 1px 0px;
}

a {
    outline: none;
    text-decoration: none;
		color: #3a312a;
    padding-bottom: 2px;		
    border-bottom: 2px solid rgba(58, 49, 42, 1);
}

.separator {
		display: block;
		margin-left: auto;
		margin-right: auto;	
		margin-top: 2em;
		margin-bottom: 2em;	
}

.center {
		display: block;
		margin-left: auto;
		margin-right: auto;	
		text-align: center;
}

/*
 *	Container
 */
#container {
    padding: 20% 5% 0 5%;
    margin-bottom: 100px;
}

#fatHeaderContainer {
    padding: 5% 5% 0 5%;
    margin-bottom: 100px;
}

/*
 *	Header
 */
header {
		line-height: 1.2em;
	  font-size: 32px;
}

header h1 {
		display: inline;
		font-weight: bold;
}

header p {
		display: inline;
}

header em.glow {
	color: #40e0d0;
	text-shadow: rgba(64, 224, 208, 0.8) 0px 1px 10px;	
}

header img {
	display: block;
	max-width: 90%;
	margin-bottom: 1em;
}

/*
 *  Section 
 */
section {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

li img {
		vertical-align: middle;
		margin: .6em;
}
